html, body {
   margin: 0;
   height: 100%;
}

canvas {
   width: 100%;
   height: 100%;
   display: block;
}

img {
   position: absolute;
   right: 50px;
   bottom: 50px;
   cursor: pointer;
}

#whosTurn {
   position: absolute;
   bottom: 300px;
   right: 50px;
   width: 100px;
   height: 100px;
   background-color: red;
}

#players {
   position: absolute;
   top: 0;
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}

#player {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   height: 100px;
   width: 200px;
}