html, body {
   margin: 0;
   height: 100%;
}

canvas {
   width: 100%;
   height: 100vh;
   display: block;
}

#errorMessage {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   top: 10px;
   height: 40px;
   padding: 10px;
   border-radius: 10px;
   color: white;
   font-weight: bold ;
   background-color: red;
}

#errorMessage img {
   height: 35px;
   width: auto;
}