html, body {
   margin: 0;
   height: 100%;
}

canvas {
   width: 100%;
   height: 100vh;
   display: block;
}

#errorMessage {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   top: 10px;
   height: 40px;
   padding: 10px;
   border-radius: 10px;
   color: white;
   font-weight: bold ;
   background-color: red;
}

#errorMessage img {
   height: 35px;
   width: auto;
}

#rotate-warning img{
  width: 100px;
  height: auto;
}

/* Si la hauteur est supérieure à la largeur → portrait */
@media screen and (max-aspect-ratio: 1/1) {
  #rotate-warning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
  }

  #app-container {
    display: none;
  }
}

/* Si la largeur est supérieure → paysage */
@media screen and (min-aspect-ratio: 1/1) {
  #rotate-warning {
    display: none;
  }

  #app-container {
    display: block;
  }
}
